<% @comments.each do |comment| %>
      <li class="item-comment">
        <div class="comment-user">
          <%= comment.user.name %>
        </div>
        <div class="comment-body">
          <div class="comment-text">
            <%= safe_join("#{comment.text}".split("\n"),tag(:br)) %>
          </div>
          <div class="comment-bottom">
            <div class="comment-time">
              <i class="far fa-clock"></i>
              <%= comment.created_at.to_s(:datetime_jp) %>
            </div>
            <div class="comment-delete">
              <% if current_user == @item.user || current_user == comment.user  %> 
                <%= link_to  item_comment_path(@item, comment), method: :delete, remote: true do%>
                  <i class="fas fa-trash-alt ", style= "color: #aaa"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>  
        
      </li>
<% end %>
      