<% @comments.each do |comment| %>
      <li class="item-comment">
        <div class="comment-user">
          <%= comment.borrower.name %>
        </div>
        <div class="comment-body">
          <div class="comment-text">
            <%= safe_join("#{comment.text}".split("\n"),tag(:br)) %>
          </div>
          <div class="comment-time">
            <%= comment.created_at.to_s(:datetime_jp) %>
            <% if current_user == @item.user || current_user == comment.borrower  %> 
              <%= link_to '削除', item_comment_path(@item, comment), method: :delete, remote: true %>
            <% end %>
          </div>  
        </div>
      </li>
<% end %>
      