/* aタグ共有 */
a {
  text-decoration: none;
}
/* ヘッダー共有ブロック */
.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  border-bottom: 1px rgba(0, 0, 0, 0.253) solid;
  background-color:#ffffff;
}
/* 背景 */
.wrapper{
  height: 100vh;
  padding-top: 90px;
  background-color: #fffafafa;
  overflow: hidden;
  overflow: scroll;
}
/* order共通 */
.order-form-container {
  background-color: white;
  width: 600px;
  box-shadow: 3px 3px 3px gray;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 10px 50px 10px; 
}
/* order共通 */
.order-item-wraps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 150px;
  border-bottom: 1px #ccc solid;
  padding: 10px 20px;
}
/* order共通 */
.order-form-wraps {
  margin: auto;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
/* order共通 */
.order-form-btn {
  width: 100%; 
  height: 50px;
  border: 1px gray solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  margin-top: 50px;
  color: #7f7e7d;
  background-color: lightgray;
}
.card{
  display: flex;
  padding: 30px;
  border-bottom: 1px #ccc solid;
}
.radio-field {
  width: 10%;
  display: flex;
  align-items: center;
}

.card-info-wrap {
  justify-content: space-between;
}
.order-next {
  height: 50px;
  border: 1px gray solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  margin-top: 50px;
  color: #7f7e7d;
  background-color: lightgray;
  
}
.order-next-btn {
  display: block;
  width: 100%;
  height: 100%; 
  color: #7f7e7d;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}