<div class="header">
  <%= render "shared/header.html.erb"%>
</div>

<div class="wrapper">
  
  <div class="user-show-container">
    <%# サイドバー %>
    <%= render "users/shared/user_side.html.erb"%>

    <%# メインフィールド %>
    <div class="user-info-field">
        <div class="user-back-image">
            <div class="user-show-name">
              <%= @user.name %>
            </div>            
        </div>

        <div class="user-info-title">
          お知らせ
        </div>
        <div class="user-info">
          <%= render 'notifications/notification'%>
        </div>
        
    </div>
  </div>
</div>
