<footer>
      <div class="footer-field">
        <div class="footer-content">
          <h3 class="footer-title">RENT-Toolsについて</h3>
            <ul>
              <li><a href="#">会社概要</a></li>
              <li><a href="#">採用情報</a></li>
              <li><a href="#">公式ブログ</a></li>
            </ul>
        </div>
        <div class="footer-content">
          <h3 class="footer-title">利用規約</h3>
            <ul>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">RENTーTools利用規約</a></li>
              <li><a href="#">コンプライアンスポリシー</a></li>
            </ul>
        </div>
        <div class="footer-content">
          <h3 class="footer-title">お問い合わせと各種情報</h3>
          <ul>
            <li><a href="#">RENTーToolsガイド</a></li>
            <li><a href="#">配送ガイド</a></li>
            <li><a href="#">個人データの安全管理に係る基本方針</a></li>
          </ul>
        </div>
        
      </div>
  </footer>