a {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  border-bottom: 1px rgba(0, 0, 0, 0.253) solid;
  background-color:#ffffff;
}
/* 背景 */
.wrapper{
  background-color:ivory;
}
/* トップの画像 */
.top-field {
  height: 600px;
  background-image: url("../top_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* トップ画像のテキスト */
.top-text{
  padding: 250px 0px 0px 50px;
  color: white;
  font-size: 30px;
}
/* 共有のブロック */
.container{
  overflow: scroll;
  padding: 100px 50px 0px 50px;
  text-align: center;
  padding-bottom: 80px;
}
/* タイトル */
.content-title {
  font-size: 30px;
  margin-bottom: 50px;
  border-bottom: 1px rgb(230,230,230) solid;
}
/* 商品のCSS */
.items-field {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  /* border-top: 1px silver solid */
}
.item-list {
  list-style: none;
}
.item {
  width: 240px;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 3px 3px 3px lightslategray;
  background-color: white;
  border-radius: 3px;
}

.items-field a {
  font-size: 20px;
  color: black;
}
.item-image-field{
  width: 240px;
  height: 240px;
}
.item-image {
  width: 100%;
  height: 100%;
}
.footer-field{
  display: flex;
  height: 300px;
  background-color: rgb(245,245,245);
  justify-content: space-around;
  padding: 50px 50px ;
}
.footer-title{
  font-size: 20px;
  margin-bottom: 10px;
}
.footer-content a{
  font-size: 15px;
  color: black;
}
/* 出品ボタン */
.new-item-btn {
  width: 100px;
  height: 100px;
  background-color: silver;
  text-align: center;
  color: white;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 20px
}
.item-btn-image {
  width: 60%;
  height: 60%;
}