/* card共通 */
.card-form-title {
  text-align: center;
  font-size: 30px;
  height: 50px;
}
/* card共通 */
.card-brand-image {
  display: flex;
  justify-content: space-evenly;
  height: 35px;
  margin-bottom: 20px;
}
/* card共通 */
.card-logo {
  width: 50px;
}

.card-add-btn{
  margin-top: 50px;
}

.card-info{
  border-bottom: 1px #ccc solid;
  padding: 50px
}
.card-info-wrap {
  display: flex;
  justify-content: space-between;
}