
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @lender.name %>様</h4>
      
    <p><%=@borrower.name %>様からレンタルの注文がありました。</p>

    <p>下記よりご確認ください</p>
    <%= @url %>
  </body>
</html>