/* aタグ共有 */
a {
  text-decoration: none;
}
/* ヘッダー共有ブロック */
.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  border-bottom: 1px rgba(0, 0, 0, 0.253) solid;
  background-color:#ffffff;
}
/* 背景 */
.wrapper{
  height: 100vh;
  padding-top: 90px;
  background-color: #fffafafa;
  overflow: hidden;
  overflow: scroll;
}
/* マイページの外枠 */
.user-show-container {
  margin: 100px 0px;
  padding: 0px 200px; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* サイドバー */
.user-show-sidebar {
  background-color: white;
  width: 300px;
  box-shadow: 3px 3px 3px gray;
}
.user-info-content{
  height: 60px;
  border-bottom: 1px black solid;
  display: flex;
  align-items: center;
}
.user-info-content a{
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
/* メインフィールド */
/* 共有 */
.user-info-field {
  box-shadow: 3px 3px 3px gray;
  background-color: white;
  width: 700px;
}
/* edit専用 */
.user-edit-form-container {
  background-color: white;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px 10px 50px 10px; 
}
/* 必須マーク共有 */
.required {
  background-color: red;
  color: white;
  margin-left: 5px;
  padding: 2px;
  border-radius: 1px;
}
.user-form-wrap {
  margin-top: 20px;
}
.user-form-text {
  text-align: left;
  margin-bottom: 5px;
}
.user-form {
  width: 100%;
  height: 50px;
  border: 1px gray solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  padding-left: 8px ;
}
.user-form-btn {
  width: 100%;
  height: 50px;
  border: 1px gray solid;
  box-shadow: 3px 3px 3px gray;
  border-radius: 3px;
  margin-top: 50px;
  color: #7f7e7d;
  background-color: lightgray;
}
.address-show-field{
 display: flex;
 justify-content: space-between;
 border-bottom: 1px black solid;
}
.address-btn-field{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.user-address-regist-btn{
  width: 50px;
  border: 1px black solid;
  background-color: lightgray;
  text-align: center;
  border-radius: 3px;
}
.user-address-regist-btn a{
  color: black;
}
.address-show-true {
  text-align: right;
}
.address-show-false {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center; 
  color: lightgray
}

