.user-info {
  margin:30px;
}
.user-name {
  font-size: 40px;
}
.name-field{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-fields {
  width: 80%;
  margin: auto;
}
.info-field {
  margin-top: 30px;
  justify-content: space-between;
}
.info-title {
  font-size: 20px;
}
.info {
  margin-top: 40px;
  text-align: right;
}
.mypage-edit-btn{
  background-color: #efefef;
  width: 50px;
  border: 1px black solid;
  border-radius: 3px;
  text-align: center;
  height: 30px;
  
}

.mypage-edit-btn a {
  color:black;
}

