.user-back-image{
  height: 300px;
  background-image: image-url("user_back_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-show-name {
  font-size: 40px;
  text-align: center;
  width: 200px;
  color: white;
}
.user-info-title{
  height: 80px;
  background-color: #fffacd;
  display: flex;
  justify-content: center;
  align-items: center;
}

